@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme static {

  /* --------- FONTS --------- */

  --font-primary: "Orbitron", "serif";
  --font-secondary: "Montserrat", "sans-serif";

  /* --------- COLORS --------- */

  /* Background */
  --color-bg: #020202;              /* Base: ton du fond */
  --color-bg-secondary: #0B1722;    /* Subtile élévation */
  --color-bg-tertiary: #132A3A;     /* Bloc surélevé */

  /* Text */
  --color-text: #F5F6F7;            /* Texte principal */
  --color-text-secondary: #A7B3BF;  /* Moins contrasté */
  --color-text-tertiary: #6C7A86;   /* Désactivé */

  /* Accent (bleu froid + contraste) */
  --color-accent: #3B82F6;          /* Action principale */
  --color-accent-secondary: #22D3EE;/* Lien / Hover */
  --color-accent-tertiary: #60A5FA; /* Survol clair */

  /* Hover (tons neutres froids) */
  --color-hover: #1A1A1A;
  --color-hover-secondary: #242424;
  --color-hover-tertiary: #2E2E2E;

  /* Feedback */
  --color-info: #3B82F6;            /* Bleu */
  --color-success: #10B981;         /* Vert */
  --color-warning: #F59E0B;         /* Orange */
  --color-error: #EF4444;           /* Rouge */
}

@layer components {
  .label-secondary {
    @apply text-accent-secondary font-semibold;
  }
}

@layer base {
  body {
    font-family: var(--font-secondary);
    background-image: url("/assets/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optionnel pour effet "parallaxe" */
    background-color: var(--color-bg); /* fallback */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
  }
}

@custom-variant menu (@media (width >=85rem))

