@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme static {
  --color-bg: #0A2939;
  --color-bg-secondary: #1C6B82;
  --color-bg-tertiary: #2897A7;

  --color-text: #E0E0E0;
  --color-text-secondary: #A0A0A0;
  --color-text-tertiary: #707070;

  --color-accent: #CBD51C;
  --color-accent-secondary: #FFB808;
  --color-accent-tertiary: #8B5CF6;

  --color-hover: #2D2D2D;
  --color-hover-secondary: #383838;
  --color-hover-tertiary: #454545;

  --color-info: #2A2A2A;
  --color-success: #22C55E;
  --color-warning: #EF4444;
  --color-error: #EF4444;
}

@layer components {
  .label-secondary {
    @apply text-accent-secondary font-semibold;
  }
}

@custom-variant menu (@media (width >=70rem))

